{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block title %} Report List | {{ customer.name }}{% endblock %}

{% block coltype %}colM{% endblock %}
{% block bodyclass %}{{ block.super }} changelist {% endblock %}

{% block breadcrumbs %}
	<div class="breadcrumbs">
		<a href="{% url 'admin:index' %}">{% trans 'Portal' %}</a>
		&rsaquo; Basic Model
	</div>
{% endblock %}

{% block content %}

	<h2>Basic Model</h2>
	<h3>{{ basicmodel.charfield }}</h3>
	
	<a href="{% url 'admin:index' %}"><i>Back to Portal</i></a>

{% endblock %}
	